{%if title%}<label for="{{ name }}">{{ title }}</label>{%endif%}
	<input type="{{ type }}" name="{{ name }}" id="{{ id }}" {%if required%}class="required"{%endif%}
         {% if size %}size="{{ size }}"{% else %}size="20"{% endif %}
         {% if value %}value="{{ value }}"{% endif %}
         />
