{%ifequal type "hidden"%}
    <input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}"/>
{%else%}
    <li {%if required%}class="required"{%endif%}>
        {%if title%}<label for="{{ name }}">{{ title }}</label>{%endif%}
        <input type="{{ type }}" name="{{ name }}" id="{{ id }}" value="{{ value }}" />
    </li>
{%endif%}
